test

In [14]:
import pandas as pd
path= r'H:\Jupyter_test\supplierLeadTime\SLT.csv'

In [15]:
#encodin utf16
#use the first column as colum names
#parse the following columns as date
test = pd.read_csv(path, encoding='utf16', on_bad_lines='warn', index_col=False)

In [16]:
test[['PO Date','Estimated Delivery Date','Goods Receipt Posting Date','Goods Receipt Document Date']] = test[['PO Date','Estimated Delivery Date','Goods Receipt Posting Date','Goods Receipt Document Date']].apply(pd.to_datetime, format="%d.%m.%Y")

In [17]:
test.head(8)

,#,Document Internal ID,PO Date,Item No.,Q,Estimated Delivery Date,BP Code,BP Name,Goods Receipt Internal ID,Q_r,Goods Receipt Posting Date,Goods Receipt Document Date,Goods_Returned,Unnamed: 13
0,1,1,2014-05-06,200013,20.0,2014-05-06,71908,Turck GmbH & Co. KG,78,20.0,2014-05-19,2014-05-19,NaN,NaN
1,2,1,2014-05-06,200012,20.0,2014-05-06,71908,Turck GmbH & Co. KG,71,20.0,2014-05-15,2014-05-15,NaN,NaN
2,3,1,2014-05-06,200014,10.0,2014-05-06,71908,Turck GmbH & Co. KG,71,10.0,2014-05-15,2014-05-15,NaN,NaN
3,4,2,2014-05-07,500273,8.0,2014-05-07,71005,Knick Elektronische Messgeräte,77,8.0,2014-05-15,2014-05-15,NaN,NaN
4,5,3,2014-05-14,500280,1.0,2014-05-22,70706,HZ GmbH,74,1.0,2014-05-22,2014-05-22,NaN,NaN
5,6,4,2014-05-19,700036,50.0,2014-05-19,71105,LeitOn,86,50.0,2014-06-16,2014-06-16,NaN,NaN
6,7,7,2014-05-21,400015,50.0,2014-05-21,71302,naujok,99,50.0,2014-06-30,2014-06-30,NaN,NaN
7,8,7,2014-05-21,400018,50.0,2014-05-21,71302,naujok,99,50.0,2014-06-30,2014-06-30,NaN,NaN

In [18]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7257 entries, 0 to 7256
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   #                            7257 non-null   int64
 1   Document Internal ID         7257 non-null   int64
 2   PO Date                      7257 non-null   datetime64[ns]
 3   Item No.                     7257 non-null   int64
 4   Q                            7254 non-null   float64
 5   Estimated Delivery Date      7257 non-null   datetime64[ns]
 6   BP Code                      7257 non-null   int64
 7   BP Name                      7257 non-null   object
 8   Goods Receipt Internal ID    7257 non-null   int64
 9   Q_r                          7243 non-null   float64
 10  Goods Receipt Posting Date   7257 non-null   datetime64[ns]
 11  Goods Receipt Document Date  7257 non-null   datetime64[ns]
 12  Goods_Returned               102 non-null    float64
 13  Unnamed: 13                  0 non-null      float64
dtypes: datetime64[ns](4), float64(4), int64(5), object(1)
memory usage: 793.9+ KB

In [19]:
#keep all notnull for the goods receipt posting date - only analysis over what have been calculated 
test = test[test['Q_r'].notna()]
#keep all null for the Goods_Returned - make sure we have not returned
test = test[test['Goods_Returned'].isna()]

In [20]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7142 entries, 0 to 7256
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   #                            7142 non-null   int64
 1   Document Internal ID         7142 non-null   int64
 2   PO Date                      7142 non-null   datetime64[ns]
 3   Item No.                     7142 non-null   int64
 4   Q                            7142 non-null   float64
 5   Estimated Delivery Date      7142 non-null   datetime64[ns]
 6   BP Code                      7142 non-null   int64
 7   BP Name                      7142 non-null   object
 8   Goods Receipt Internal ID    7142 non-null   int64
 9   Q_r                          7142 non-null   float64
 10  Goods Receipt Posting Date   7142 non-null   datetime64[ns]
 11  Goods Receipt Document Date  7142 non-null   datetime64[ns]
 12  Goods_Returned               0 non-null      float64
 13  Unnamed: 13                  0 non-null      float64
dtypes: datetime64[ns](4), float64(4), int64(5), object(1)
memory usage: 837.0+ KB

In [21]:
test = test.drop(['#','Document Internal ID','Estimated Delivery Date','Goods Receipt Internal ID','Goods_Returned','Unnamed: 13'], axis=1)
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7142 entries, 0 to 7256
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   PO Date                      7142 non-null   datetime64[ns]
 1   Item No.                     7142 non-null   int64
 2   Q                            7142 non-null   float64
 3   BP Code                      7142 non-null   int64
 4   BP Name                      7142 non-null   object
 5   Q_r                          7142 non-null   float64
 6   Goods Receipt Posting Date   7142 non-null   datetime64[ns]
 7   Goods Receipt Document Date  7142 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(1)
memory usage: 502.2+ KB

In [22]:
test.head(30)

,PO Date,Item No.,Q,BP Code,BP Name,Q_r,Goods Receipt Posting Date,Goods Receipt Document Date
0,2014-05-06,200013,20.0,71908,Turck GmbH & Co. KG,20.0,2014-05-19,2014-05-19
1,2014-05-06,200012,20.0,71908,Turck GmbH & Co. KG,20.0,2014-05-15,2014-05-15
2,2014-05-06,200014,10.0,71908,Turck GmbH & Co. KG,10.0,2014-05-15,2014-05-15
3,2014-05-07,500273,8.0,71005,Knick Elektronische Messgeräte,8.0,2014-05-15,2014-05-15
4,2014-05-14,500280,1.0,70706,HZ GmbH,1.0,2014-05-22,2014-05-22
5,2014-05-19,700036,50.0,71105,LeitOn,50.0,2014-06-16,2014-06-16
6,2014-05-21,400015,50.0,71302,naujok,50.0,2014-06-30,2014-06-30
7,2014-05-21,400018,50.0,71302,naujok,50.0,2014-06-30,2014-06-30
8,2014-05-21,400021,50.0,71302,naujok,50.0,2014-06-30,2014-06-30
9,2014-05-21,400013,100.0,71302,naujok,100.0,2014-06-30,2014-06-30
10,2014-05-21,400016,50.0,71302,naujok,50.0,2014-06-30,2014-06-30
11,2014-05-21,400019,100.0,71302,naujok,100.0,2014-06-30,2014-06-30
12,2014-05-21,400014,50.0,71302,naujok,50.0,2014-06-30,2014-06-30
13,2014-05-21,400017,100.0,71302,naujok,100.0,2014-06-30,2014-06-30
14,2014-05-21,400020,50.0,71302,naujok,50.0,2014-06-30,2014-06-30
15,2014-05-22,500053,100.0,70501,Fischer Elektronik GmbH,100.0,2014-06-24,2014-06-24
16,2014-05-22,500055,100.0,70501,Fischer Elektronik GmbH,100.0,2014-07-10,2014-07-10
17,2014-05-22,500054,50.0,70501,Fischer Elektronik GmbH,50.0,2014-06-24,2014-06-24
18,2014-05-22,500058,50.0,70501,Fischer Elektronik GmbH,50.0,2014-07-10,2014-07-10
19,2014-05-22,500059,50.0,70501,Fischer Elektronik GmbH,50.0,2014-12-11,2014-12-11
20,2014-05-22,500298,50.0,70501,Fischer Elektronik GmbH,50.0,2014-06-24,2014-06-24
21,2014-06-05,700001,100.0,70008,alge,100.0,2014-11-25,2014-11-25
22,2014-05-22,700056,50.0,71001,Kirstein GmbH,50.0,2014-09-25,2014-09-25
23,2014-05-22,200021,25.0,71801,PCB Synotech GmbH,25.0,2014-07-10,2014-07-10
24,2014-05-22,200036,1.0,72102,Vishay Measurements Group GmbH,1.0,2014-09-17,2014-09-17
25,2014-05-22,200007,1.0,72102,Vishay Measurements Group GmbH,1.0,2014-09-17,2014-09-17
26,2014-05-22,500014,10.0,72102,Vishay Measurements Group GmbH,10.0,2014-09-17,2014-09-17
27,2014-05-22,200006,2.0,72102,Vishay Measurements Group GmbH,2.0,2014-09-17,2014-09-17
28,2014-05-27,500068,25.0,72201,WIR electronic GmbH,25.0,2014-06-24,2014-06-24
29,2014-05-28,500024,3.0,72205,Weidmüller,3.0,2014-12-11,2014-12-11

In [23]:
test['Val_Diff'] = test['Goods Receipt Posting Date'] - test['PO Date']
test.head(20)

,PO Date,Item No.,Q,BP Code,BP Name,Q_r,Goods Receipt Posting Date,Goods Receipt Document Date,Val_Diff
0,2014-05-06,200013,20.0,71908,Turck GmbH & Co. KG,20.0,2014-05-19,2014-05-19,13 days
1,2014-05-06,200012,20.0,71908,Turck GmbH & Co. KG,20.0,2014-05-15,2014-05-15,9 days
2,2014-05-06,200014,10.0,71908,Turck GmbH & Co. KG,10.0,2014-05-15,2014-05-15,9 days
3,2014-05-07,500273,8.0,71005,Knick Elektronische Messgeräte,8.0,2014-05-15,2014-05-15,8 days
4,2014-05-14,500280,1.0,70706,HZ GmbH,1.0,2014-05-22,2014-05-22,8 days
5,2014-05-19,700036,50.0,71105,LeitOn,50.0,2014-06-16,2014-06-16,28 days
6,2014-05-21,400015,50.0,71302,naujok,50.0,2014-06-30,2014-06-30,40 days
7,2014-05-21,400018,50.0,71302,naujok,50.0,2014-06-30,2014-06-30,40 days
8,2014-05-21,400021,50.0,71302,naujok,50.0,2014-06-30,2014-06-30,40 days
9,2014-05-21,400013,100.0,71302,naujok,100.0,2014-06-30,2014-06-30,40 days
10,2014-05-21,400016,50.0,71302,naujok,50.0,2014-06-30,2014-06-30,40 days
11,2014-05-21,400019,100.0,71302,naujok,100.0,2014-06-30,2014-06-30,40 days
12,2014-05-21,400014,50.0,71302,naujok,50.0,2014-06-30,2014-06-30,40 days
13,2014-05-21,400017,100.0,71302,naujok,100.0,2014-06-30,2014-06-30,40 days
14,2014-05-21,400020,50.0,71302,naujok,50.0,2014-06-30,2014-06-30,40 days
15,2014-05-22,500053,100.0,70501,Fischer Elektronik GmbH,100.0,2014-06-24,2014-06-24,33 days
16,2014-05-22,500055,100.0,70501,Fischer Elektronik GmbH,100.0,2014-07-10,2014-07-10,49 days
17,2014-05-22,500054,50.0,70501,Fischer Elektronik GmbH,50.0,2014-06-24,2014-06-24,33 days
18,2014-05-22,500058,50.0,70501,Fischer Elektronik GmbH,50.0,2014-07-10,2014-07-10,49 days
19,2014-05-22,500059,50.0,70501,Fischer Elektronik GmbH,50.0,2014-12-11,2014-12-11,203 days

In [30]:
testBP = test.loc[test['BP Name'] == 'ICO Innovative Computer']
testBP

,PO Date,Item No.,Q,BP Code,BP Name,Q_r,Goods Receipt Posting Date,Goods Receipt Document Date,Val_Diff
5919,2021-09-24,500936,4.0,70804,ICO Innovative Computer,4.0,2021-11-04,2021-11-04,41 days
5920,2021-09-24,500936,4.0,70804,ICO Innovative Computer,4.0,2021-10-01,2021-10-01,7 days
6176,2021-11-09,500956,1.0,70804,ICO Innovative Computer,1.0,2021-11-22,2021-11-22,13 days
6241,2021-11-22,500958,15.0,70804,ICO Innovative Computer,6.0,2021-12-16,2021-12-16,24 days
6242,2021-11-22,500958,15.0,70804,ICO Innovative Computer,7.0,2022-03-15,2022-03-15,113 days
6676,2022-04-29,500958,8.0,70804,ICO Innovative Computer,8.0,2022-06-28,2022-06-24,60 days
6945,2022-07-26,500958,8.0,70804,ICO Innovative Computer,8.0,2022-08-09,2022-08-05,14 days
7149,2022-10-12,500958,6.0,70804,ICO Innovative Computer,6.0,2022-10-24,2022-10-19,12 days

In [25]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7142 entries, 0 to 7256
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   PO Date                      7142 non-null   datetime64[ns]
 1   Item No.                     7142 non-null   int64
 2   Q                            7142 non-null   float64
 3   BP Code                      7142 non-null   int64
 4   BP Name                      7142 non-null   object
 5   Q_r                          7142 non-null   float64
 6   Goods Receipt Posting Date   7142 non-null   datetime64[ns]
 7   Goods Receipt Document Date  7142 non-null   datetime64[ns]
 8   Val_Diff                     7142 non-null   timedelta64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(1), timedelta64[ns](1)
memory usage: 558.0+ KB

In [26]:
testbp=test[['BP Name','Val_Diff']]
testbp=test.groupby('BP Name')['Val_Diff'].mean().reset_index()
testbp=testbp.sort_values(by=['Val_Diff'], ascending=False)

testbp.head(40)

#https://stackoverflow.com/questions/29314424/pandas-using-groupby-to-get-mean-for-each-data-category

,BP Name,Val_Diff
16,Berghammer Techn. Büro,334 days 04:17:29.006622516
182,alge,173 days 00:00:00
116,MIS Industrie Systeme GmbH & Co. KG,155 days 14:27:05.806451612
135,PCB Synotech GmbH,125 days 19:53:50.769230770
94,Kirstein GmbH,124 days 09:52:56.470588236
9,BMK professional electronics GmbH,121 days 20:00:00
57,Gastops Long Live Equipment,110 days 00:00:00
149,SUMIDA flexible Connections GmbH,108 days 12:00:00
99,Krayer Systemtechnik GmbH,78 days 00:00:00
187,dataTec,71 days 00:00:00
71,Heilind Electronics GmbH,68 days 18:00:00
134,PANTEC Engineering AG,66 days 00:00:00
25,CONEC Elektronische Bauelemente GmbH,65 days 04:48:00
95,Kistler Instrumente GmbH,60 days 20:00:00
2,ARGO-HYTOS GmbH,60 days 12:00:00
163,TomTom Tools GmbH,59 days 09:07:36.338028169
127,Mittel & Wege,58 days 07:30:00
40,ERBESSD Instruments,52 days 00:00:00
165,Treon,52 days 00:00:00
173,WIR electronic GmbH,51 days 05:45:04.147465438
70,Hansford Sensors GmbH,50 days 09:04:00
3,ATEK Antriebstechnik Willi Glapiak GmbH,50 days 00:00:00
14,Baumer GmbH,45 days 20:34:17.142857143
50,FCT electronic GmbH,43 days 21:49:05.454545454
113,ME-Meßsysteme GmbH,43 days 09:40:17.910447761
54,Fischer Elektronik GmbH,42 days 04:04:48
10,BOPLA Gehäuse Systeme GmbH,41 days 20:50:31.578947368
85,Inserco Fasteners,41 days 16:00:00
106,Landefeld GmbH,41 days 12:00:00
144,Rennsport Production Center GmbH,41 days 03:39:07.826086956
196,naujok,40 days 14:40:22.748815166
146,SCHMID AUTOMATION GmbH,39 days 12:00:00
67,HYDAC TECHNOLOGY GmbH,38 days 22:24:34.698795180
160,TRIEB Maschinenbau GmbH,38 days 00:00:00
200,tobra GmbH & Co. KG,37 days 23:41:46.329113924
90,KREATIZE GmbH,37 days 18:00:00
88,JUMO GmbH & Co. KG,37 days 00:00:00
37,EATON Technologies GmbH,36 days 06:51:25.714285714
78,ICO Innovative Computer,35 days 12:00:00
125,Metra Meß- und Frequenztechnik in Radebeul e.K.,35 days 07:23:04.615384615

In [118]:
testbp.describe()

                          Val_Diff
count                          194
mean    21 days 08:57:27.778627670
std     44 days 08:12:57.991371076
min            -304 days +00:00:00
25%      5 days 07:28:01.318681318
50%               12 days 22:00:00
75%     29 days 01:03:51.313926042
max    349 days 07:14:53.959731544